<ion-view style="" id="main" title="Main Area">


	<ion-tabs class="tabs-icon-top tabs-color-active-positive">
        
		  <!-- Chats Tab -->
		  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline"  icon-on="ion-ios-chatboxes"  href="#/main/chats">
			<ion-nav-view name="chats"></ion-nav-view>
		  </ion-tab>
 
		  <!-- Contacts Tab -->
		  <ion-tab title="Contacts" icon-off="ion-ios-contact-outline" icon-on="ion-ios-contact -strong" href="#/main/contacts">
			<ion-nav-view name="contacts"></ion-nav-view>
		  </ion-tab>

		  <!-- Settings Tab -->
		  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/main/settings">
			<ion-nav-view name="settings"></ion-nav-view>
		  </ion-tab>
    
	</ion-tabs>
	
</ion-view>

